.img{
    width: 100%;
    height: 750px;
    border-radius: 10px;
}
.icon{
    width: 70px;
    height: 70px;
    border: 1px solid white;
    background: white;
    border-radius: 15px;
}
.link{
    font-size: 20px;
}
.icon1{
    width: 70px;
    height: 70px;
    margin-left: 40%;
    border: 1px solid white;
    background: white;
    border-radius: 15px;
}
.about{
    font-family: 'IBM Plex Serif', serif;
    vertical-align: top;
    font-size: 20px;
    text-align:center;
}
.cert2{
    width: 600px;
    height: 500px;
}
.work{
    height: 450px;
    width: 100%;
    border-radius: 10px;
    margin: 10px;
}
.foot{
    font-family: 'IBM Plex Serif', serif;
    text-align: center;
}
.desc{
    font-family: 'IBM Plex Serif', serif;
    font-size: 20px;
    margin: 10px;
    text-align: center;
}
.title{
    font-family: 'Libre Baskerville', serif;
    margin: 20px;
}
.par{
    font-family: 'IBM Plex Serif', serif;
    font-size: 20px;
}
.pic{
    height: 100px;
}
.space{
    font-family: 'Libre Baskerville', serif;
    font-size: 60px;
    margin-bottom: 20px;
    margin-top: 20px;
    letter-spacing: 20px;
    text-align:center;
    text-decoration: underline;
}
h3{
    text-decoration: underline;
}
.me{
    height: 500px;
    margin-top: 20px;
    border-radius: 10px;
}
.btn{
    margin-left: 20px;
    margin: 10px;
}
a{
    color: rgb(226, 128, 82);
}
a:hover{
    color:#e5d7bd;
}
li{
    font-family: 'IBM Plex Serif', serif;
}
.left{
    display:inline-block;
    vertical-align: top;
    width: 50%;
    margin:20px;
}
.second{
    letter-spacing: 2px;
}
.right{
    display: inline-block;
}
.big{
    font-family: 'Libre Baskerville', serif;
    font-size: 60px;
}
.skill{
    display:inline-block;
    width: 30%;
}
.cert{
    display: inline-block;
    vertical-align: top;
    margin-left: 10%;
}
.footer{
    padding: 10px;
    background: #202327;
}
